{% extends "layout.html" %}

{% block title %}
Planilha Essencial
{% endblock %}

{% block main %}

<script>
    function toggleSelectGroup(className) {
        const checkboxes = document.querySelectorAll('.' + className);
        const allSelected = Array.from(checkboxes).every(cb => cb.checked);
        checkboxes.forEach(cb => cb.checked = !allSelected);
    }

    function toggleSelectAll() {
        const checkboxes = document.querySelectorAll('.checkbox-ativos');
        const allSelected = Array.from(checkboxes).every(cb => cb.checked);
        checkboxes.forEach(cb => cb.checked = !allSelected);
    }

    function toggleSelectAllExpiracoes() {
        const checkboxes = document.querySelectorAll('.checkbox-expiracoes');
        const allSelected = Array.from(checkboxes).every(cb => cb.checked);
        checkboxes.forEach(cb => cb.checked = !allSelected);
    }
</script>

<body>
<h1>Filtro de Ativos</h1>
<form action="/filtrar" method="POST">
    <h3>Tipo de Opção</h3>
    <div class="grid-container">
        {% for tipo in opcao_tipo %}
            <label class="grid-item">
                <input 
                    type="checkbox" 
                    name="opcao_tipo" 
                    value="{{ tipo }}">
                {{ tipo }}
            </label>
        {% endfor %}
    </div>

    <h3>Estilo</h3>
    <div class="grid-container">
        {% for estilo in opcao_estilo %}
            <label class="grid-item">
                <input 
                    type="checkbox" 
                    name="opcao_estilo" 
                    value="{{ estilo }}">
                {{ estilo }}
            </label>
        {% endfor %}
    </div>

    <h3>Ativos</h3>
    <button type="button" class="btn btn-primary" onclick="toggleSelectAll()">Selecionar/Deselecionar Todos</button>
    <button type="button" class="btn btn-primary" onclick="toggleSelectGroup('ibovespa')">Selecionar/Deselecionar IBOVESPA</button>
    <br>
    <br>
    <div class="grid-container">
        {% for ativo in ativos %}
            <label class="grid-item">
                <input 
                    type="checkbox" 
                    class="checkbox-ativos {% if ativo in ibovespa_ativos %}ibovespa{% endif %}" 
                    name="ativos" 
                    value="{{ ativo }}">
                {{ ativo }}
            </label>
        {% endfor %}
    </div>

    <h3>Data de Expiração</h3>
    <button type="button" class="btn btn-primary" onclick="toggleSelectAllExpiracoes()">Selecionar/Deselecionar Todos</button>
    <br>
    <br>
    <div class="grid-container">
        {% for exp in expiracoes %}
            <label class="grid-item">
                <input 
                    type="checkbox" 
                    class="checkbox-expiracoes"
                    name="expiracoes" 
                    value="{{ exp }}">
                {{ exp }}
            </label>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>
<form action="/download-semanais" method="get" style="margin-top: 20px;">
    <button type="submit" class="btn btn-primary">Download Semanais</button>
</form>
</body>

{% endblock %}



